<div class="row">
    <div class="col-md-12">
        <h2>Why CT?</h2>
        <blockquote class="blockquote">"There are roughly 6,500 spoken languages in the world today, but most of the website and applications only available in English. Moreover, Most people outside English spoken countries speak only their native language."</blockquote>
        <p>
            As an individual who is working with United Nations, we always face the problem of how to reach people; To understand them, and to make them understand.
            Language is the first obstacle we all have to overcome.
        </p>
        <p>
            Today, the world have many automate technologies to solve language barrier problems.
            However, these technologies still not good enough when it comes to serious talk.
            We still needs professional translators to assist us, but most of the time they already overload with the tasks at hand.
        </p>
        <p>
            CT or Collaborate Translator is a web application, made by a group of software engineer in United Nations to tackle this problem.
            It was designed to utilize our organization strength, "the diversity of people".
            CT use automatic translate service combine with our colleague network, to validate translation.
            Thus, make the translation more accurate and context-wise.
            In the same time, CT trying to minimize the disruption that burden our colleague when we request for help.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>How CT work?</h2>
        <p>The diagram below briefly explain how CT work.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/1.png" class="img-responsive text-center" style="margin: 0 auto;" />
    </div>
    <div class="col-md-8">
        <p>1. User input the text want to be translate along with colleague email that want to request help.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/2.png" class="img-responsive text-center" style="margin: 0 auto;" />
    </div>
    <div class="col-md-8">
        <p>2. CT break the work into small size and translate them with translator service. Then distribute them to our colleague.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/3.png" class="img-responsive text-center" style="margin: 0 auto;" />
    </div>
    <div class="col-md-8">
        <p>3. Colleagues receive request and validate translation that it is correct and suitable in the context or not.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/4.png" class="img-responsive text-center" style="margin: 0 auto;" />
    </div>
    <div class="col-md-8">
        <p>4. CT gathering validation result and report back to the original requester.</p>
    </div>
</div>